config rpcd
	option socket /var/run/ubus/ubus.sock
	option timeout 30

config login
	option username 'root'
	option password '$p$root'
	list read '*'
	list write '*'

config login
	option username 'unauthenticated'
	option password '$p$unauthenticated'
	list read 'luci-rpc'

# Si quieres añadir el usuario luci explícitamente:
# config login
# 	option username 'luci'
# 	option password '$p$luci'
# 	list read 'luci-rpc'
# 	list write 'luci-rpc'